include ../../blocks/content/_content.jade
include ../../blocks/footer/_footer.jade
include ../../blocks/grid/_grid.jade
include ../../blocks/header/_header.jade
include ../../blocks/icon/_icon.jade
include ../../blocks/logotype/_logotype.jade
include ../../blocks/page/_page.jade
include ../../blocks/wrapper/_wrapper.jade