main.content
    .wrapper
        .wrapper__margin
            h2= pageTitle

            .grid
                .grid__col-5
                    h3 Что включено

                    ul
                        li Сброс стилей на основе normalize.css и sanitize.css
                        li 12-колоночная адаптивная сетка основонная на lost.scss
                        li Таблицы
                        li Формы и кнопки
                        li Иконки
                        li Красивые подчеркивания бордером для ссылок
                        li Удобный интерфейс подключения шрифтов
                        li Базовая типографика основонная на rem единицах измерения
                        li Различные классы, хэлперы и миксины

                    p Удобней удалить какую-либо функциональность, чем добавлять ее.

                .grid__col-6.grid__offset-1
                    h3 Пример формы

                    form.form(action='' method='post')

                        .form__row
                            label.form__label(for='exampleInputText') Простое поле
                            input.form__control#exampleInputText(type='email' placeholder='Поле')
                            .form__help Пример описания поля

                        .form__row
                            label.form__label(for='exampleInputPassword') Пароль
                            input.form__control#exampleInputPassword(type='password' placeholder='Пароль')

                        .form__row
                            label.form__label(for='exampleSelect') Выпадающий список
                            select#exampleSelect.form__control
                                option(value='1') Позиция 1
                                option(value='2') Позиция 2
                                option(value='3') Позиция 3
                                option(value='4') Позиция 4
                                option(value='5') Позиция 5

                        .form__row
                            label.form__label
                                input.form__file.form__file(type='file')

                        .form__row
                            textarea.form__control(placeholder='Большое текстовое поле')

                        .form__row
                            label.form__label
                                input.form__checkbox(type='checkbox')
                                | Чекбокс

                        .form__row
                            label.form__label
                                input.form__radio(type='radio' name='radio')
                                | Красный
                            br
                            label.form__label
                                input.form__radio(type='radio' name='radio')
                                | Синий

                        .form__row
                            label.form__label
                                input.form__checkbox.form__checkbox--pretty(type='checkbox')
                                | Чекбокс

                        .form__row
                            label.form__label
                                input.form__radio.form__radio--pretty(type='radio' name='radio')
                                | Красный
                            br
                            label.form__label
                                input.form__radio.form__radio--pretty(type='radio' name='radio')
                                | Синий

                        .form__row
                            button.button(type='submit') Submit
