footer.footer
    .wrapper
        .wrapper__margin
            a.footer__github(href='https://github.com/anton-drobot/frontend-boilerplate') Fork me on GitHub
            .footer__copyright © Anton Drobot, 2015
