mixin grid()
    .grid&attributes(attributes)
        block

mixin grid__col(columns, offset, media)
    - columns = 'grid__col--' + (columns || 12)
    - offset = (offset) ? 'grid__col--offset-' + offset : ''
    - media = (media) ? 'grid__col--media-' + media : ''
    - var classes = [columns, offset, media].filter(Boolean).join(' ')
    .grid__col(class=classes)
        block
