.grid {
    $screens: (xs, s, m, l, xl);
    $screen-width: (
            xs: $screen__breakpoint--xs,
            s: $screen__breakpoint--s,
            m: $screen__breakpoint--m,
            l: $screen__breakpoint--l,
            xl: $screen__breakpoint--xl,
    );
    @include row();
    @for $i from 1 through $grid__columns {
        &__col--#{$i} {
            @include column($i/$grid__columns);
        }
    }
    @for $i from 1 through $grid__columns {
        &__col--offset-#{$i} {
            @include offset($i/$grid__columns);
        }
    }
    @each $screen in $screens {
        &__col--media-#{$screen} {
            @media (max-width: map-get($screen-width, $screen)) {
                @for $i from 1 through $grid__columns {
                    &-to-#{$i} {
                        @include column($i/$grid__columns);
                        @include offset(0/$grid__columns);
                    }
                }
            }
        }
        &__col--offset-#{$screen} {
            @media (max-width: map-get($screen-width, $screen)) {
                @for $i from 1 through $grid__columns {
                    &-#{$i} {
                        @include offset($i/$grid__columns);
                    }
                }
            }
        }
    }
}
