.b-wrapper {
    max-width: $screen-max-width;
    min-width: $screen-min-width;
    width: auto;
    margin: 0 auto;
    &__margins {
        margin-left: $screen-margin;
        margin-right: $screen-margin;
    }
}