.wrapper {
    @if $screen__fluid == false {
        width: $screen__width--default + ($screen__margin * 2);
    } @else {
        max-width: $screen__width--max;
        min-width: $screen__width--min;
        width: auto;
    }
    margin: 0 auto;
    &__margin {
        margin-left: $screen__margin;
        margin-right: $screen__margin;
    }
}
