parser: 'babel-eslint'
env:
  browser: true
  es6: true
  node: true
extends: 'eslint:recommended'
parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true
    jsx: true
    modules: true
  sourceType: module
  ecmaVersion: 6
plugins:
  - react
rules:
  indent:
    - 2
    - 4
  linebreak-style:
    - 2
    - unix
  quotes:
    - 2
    - single
  semi:
    - 2
    - always
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
