// Example Structure
//
// form
//   row
//     title
//       label
//     field
//       control

label {
    display: inline-block;
    cursor: pointer;
}

button,
input,
select,
textarea {
    outline: none;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
    @include placeholder();
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select {
    min-height: $form__input-min-height;
}

textarea {
    min-height: $form__textarea-min-height;
    resize: vertical;
}

// Styles

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    padding: $form__padding-top $form__padding-right $form__padding-bottom $form__padding-left;
    background: #fff;
    border: $form__border-width solid #b8b8b8;
    border-radius: 0;
    font-family: $font__family--default;
    font-size: $font__size--base;
    line-height: $font__line-height;
    transition: border-color .3s ease-out;
    &:focus {
        border-color: #3496ff;
        transition: none;
    }
}

.form {
    &__row {
        margin-bottom: $font__line-height;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__title {}
    &__label {}
    &__control {
        display: block;
        width: 100%;
        &--inline {
            display: inline-block;
        }
    }
    &__checkbox {
        margin-right: 4px;
    }
    &__radio {
        margin-right: 4px;
    }
    &__file {}
    &__comment {
        font-size: 1.4rem;
        line-height: line-height(1.4rem);
        color: #aeaeae;
    }
}

// Pretty checkboxes and radios
.form {
    &__label {
        position: relative;
    }
    &__control-indicator {
        display: inline-block;
        background-color: #fff;
        background-size: 75% 75%;
        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid #b8b8b8;
        vertical-align: -.2rem;
        user-select: none;
    }
    &__checkbox--pretty,
    &__radio--pretty {
        position: absolute;
        opacity: 0;
        // Put the input behind the label so it doesn't overlay text
        z-index: -1;
        &:focus + .form__control-indicator {
            // some styles
        }
        &:checked + .form__control-indicator {
            background-color: #0074d9;
            border-color: #0074d9;
        }
        &:active + .form__control-indicator {
            background-color: #84c6ff;
            border-color: #84c6ff;
        }
    }
    &__checkbox--pretty {
        & + .form__control-indicator {
            width:  1.5rem;
            height: 1.5rem;
            margin-right: 4px;
            border-radius: 3px;
        }
        &:checked + .form__control-indicator {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
        }
    }
    &__radio--pretty {
        & + .form__control-indicator {
            width:  1.6rem;
            height: 1.6rem;
            margin-right: 3px;
            border-radius: 50%;
        }
        &:checked + .form__control-indicator {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
        }
    }
}
