@import "core/functions";
@import "core/variables";
@import "core/mixins";

@import "system/*";

@import "base/fonts";
@import "base/defaults";
@import "base/grid";
@import "base/typography";
@import "base/forms";
@import "base/tables";
@import "base/wrapper";
@import "base/underline";

body {
    @if $screen__fluid == false {
        min-width: $screen__width--default + ($screen__margin * 2);
    }
    background: #fff;
    font-size: $font__size--base;
}

p {
    margin: 0 0 $font__line-height 0;
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $link__color--default;
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    &:hover {
        color: $link__color--hover;
        text-decoration: none;
        transition: none;
    }
    &:active {
        color: $link__color--active;
        text-decoration: none;
        transition: none;
    }
}

img {
    display: block;
}

input,
textarea {
    @include placeholder();
}

@import "includes/*";

@import "blocks/*";
