@import "core/functions";
@import "core/variables";
@import "core/mixins";

@import "includes/fonts";
@import "includes/defaults";
@import "includes/typography";

body {
    background: #fff;
}

p {
    margin: 0 0 $font-line-height 0;
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    &:hover {
        color: $link-color-hover;
        text-decoration: none;
        transition: none;
    }
    &:active {
        color: $link-color-active;
        text-decoration: none;
        transition: none;
    }
}

img {
    display: block;
}

input,
textarea {
    @include placeholder();
}

@import "includes/helpers";
@import "includes/lost";
@import "includes/grid";
@import "includes/table";
@import "includes/form";
@import "includes/underline";

@import "blocks/b-wrapper";
@import "blocks/b-button";
@import "blocks/b-icon";