@mixin include-fonts-item($family, $filename, $weight, $style) {
    @font-face {
        font-family: $family;
        src: url('../fonts/#{$filename}.eot');
        src: url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$filename}.woff') format('woff'),
            url('../fonts/#{$filename}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

// Загрузка шрифтов
//
// @param {String} $family
// @param {List} $fonts
// @example
//     $family: 'Lato';
//     $fonts: (
//         ('Lato-Light', 300, normal),
//         ('Lato-Regular', normal, normal),
//         ('Lato-Italic', normal, italic),
//         ('Lato-Medium', 500, normal),
//         ('Lato-Bold', bold, normal),
//         ('Lato-BoldItalic', bold, italic),
//         ('Lato-Black', 900, normal)
//     );
//     @include include-fonts($family, $fonts);
@mixin include-fonts($family, $fonts) {
    @for $i from 1 through length($fonts) {
        $item: nth($fonts, $i);
        @include include-fonts-item($family, nth($item, 1), nth($item, 2), nth($item, 3))
    }
}

@mixin placeholder($color: $placeholder__color--default, $active-color: $placeholder__color--active) {
    &::placeholder {
        color: $color;
        text-overflow: ellipsis;
    }
    &.placeholder {
        color: $color;
        text-overflow: ellipsis;
    }
    &:focus::placeholder {
        color: $active-color;
    }
    &.placeholder:focus {
        color: $active-color;
    }
}

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable {
        &:active,
        &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}

@mixin invisible {
    visibility: hidden;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
