@mixin placeholder-styles($color: $placeholder-color) {
    color: $color;
    text-overflow: ellipsis;
}

@mixin placeholder($color: $placeholder-color, $active-color: $placeholder-active-color) {
    &::-webkit-input-placeholder {
        @include placeholder-styles($color);
    }
    &::-moz-placeholder {
        @include placeholder-styles($color);
    }
    &:-ms-input-placeholder {
        @include placeholder-styles($color);
    }
    &.placeholder {
        @include placeholder-styles($color);
    }
    &:focus::-webkit-input-placeholder {
        color: $active-color;
    }
    &:focus::-moz-placeholder {
        color: $active-color;
    }
    &:focus:-ms-input-placeholder {
        color: $active-color;
    }
    &.placeholder:active,
    &.placeholder:focus {
        color: $active-color;
    }
}

@mixin hidden {
    display: none !important;
    visibility: hidden;
}

@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable {
        &:active,
        &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}

@mixin invisible {
    visibility: hidden;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}