extends ../jade/layouts/_default

include ../blocks/page/_page

block head
    - var pageTitle = 'Frontend Boilerplate';

block content
    +page
        +wrapper
            +content
                h1 Равновероятный неопределенный интеграл: гипотеза и теории

                p
                    | Расходящийся ряд, очевидно, переворачивает положительный контрпример,
                    | что неудивительно. Интерполяция решительно упорядочивает интеграл
                    | от функции, обращающейся в бесконечность вдоль линии, что и требовалось доказать.

                blockquote
                    p «Криволинейный интеграл усиливает натуральный логарифм, что известно даже школьникам.»

                    cite БСЭ, 1964 год

                p
                    | К тому же предел последовательности соответствует разрыв функции.
                    | <a href="#">Неопределенный интеграл</a> создает криволинейный интеграл, дальнейшие
                    | выкладки оставим студентам в качестве несложной домашней работы.

                h2 Ортогональный определитель отражает степенной ряд

                p
                    | Представляется логичным, что график функции ускоряет интеграл Пуассона,
                    | что и требовалось доказать. Несмотря на сложности, дифференциальное уравнение
                    | в принципе соответствует косвенный разрыв функции.

                ol
                    li
                        | Дирекция по развитию транспортной системы Санкт-Петербурга и Ленинградской области;

                    li
                        | НП СРО ЖКХ «Межрегиональное Объединение Управляющих Компаний»;

                    li
                        | Спортивный клуб бокса «Динамо Москва».

                ul
                    li
                        | Дирекция по развитию транспортной системы Санкт-Петербурга и Ленинградской области;

                    li
                        | НП СРО ЖКХ «Межрегиональное Объединение Управляющих Компаний»;

                    li
                        | Спортивный клуб бокса «Динамо Москва».

                p
                    | Абсолютная погрешность, в первом приближении, притягивает расходящийся ряд.
                    | Если после применения правила Лопиталя неопределённость типа 0 / 0 осталась,
                    | определитель системы линейных уравнений уравновешивает график функции.

                h3 Вектор усиливает многомерный ортогональный определитель

                p
                    | Аффинное преобразование решительно нейтрализует неопровержимый интеграл
                    | от функции комплексной переменной. Многочлен непосредственно допускает полином.

            h1 Heading 1

            h2 Heading 2

            h3 Heading 3

            h4 Heading 4

            h5 Heading 5

            h6 Heading 6

            blockquote
                p Luckily friends do ashamed to do suppose. Tried meant mr smile so.

                cite Author — Source

            p
                | Page content.

            ul
                li list item 1

                li
                    | list item 2

                    ul
                        li list item 2.1

                        li
                            | list item 2.2

                            ul
                                li list item 2.2.1

                                li list item 2.2.2

                        li list item 2.3

                        li list item 2.4

                li list item 3

                li list item 4

            ol
                li list item 1

                li
                    | list item 2

                    ol
                        li list item 2.1

                        li
                            | list item 2.2

                            ol
                                li list item 2.2.1

                                li list item 2.2.2

                        li list item 2.3

                        li list item 2.4

                li list item 3

                li list item 4

            dl
                dt Term 1

                dd Description 1

                dt Term 2

                dd Description 2

                dt Term 3

                dd Description 3

            table.table.table--bordered.table--hovered
                tbody
                    tr
                        td
                            abbr(title='Cascading Style Sheets') CSS

                        td
                            code &lt;abbr&gt;

                        td
                            cite Cite

                        td
                            code &lt;cite&gt;

                    tr
                        td
                            code Code tag

                        td
                            code &lt;code&gt;

                        td
                            samp Sample tag

                        td
                            code &lt;samp&gt;

                    tr
                        td
                            var Variable tag

                        td
                            code &lt;var&gt;

                        td
                            mark Mark text

                        td
                            code &lt;mark&gt;

                    tr
                        td
                            kbd Shortcut

                        td
                            code &lt;kbd&gt;

                        td
                            del Deleted

                        td
                            code &lt;del&gt;

                    tr
                        td
                            i Italic

                        td
                            code &lt;i&gt;

                        td
                            em Emphasis

                        td
                            code &lt;em&gt;

                    tr
                        td
                            strong Highlighted

                        td
                            code &lt;strong&gt;

                        td
                            b Bold

                        td
                            code &lt;b&gt;

                    tr
                        td
                            sup superscript

                        td
                            code &lt;sup&gt;

                        td
                            sub subscript

                        td
                            code &lt;sub&gt;
