// Размеры документа

$screen__fluid: true;

$screen__width--default: 960px;
$screen__width--min: 280px;
$screen__width--max: 1440px;

$screen__breakpoint--xs: 320px;
$screen__breakpoint--s: 480px;
$screen__breakpoint--m: 780px;
$screen__breakpoint--l: 1024px;
$screen__breakpoint--xl: 1280px;

$screen__margin: 20px;

// Глобальные настройки документа

$box-sizing: border-box;
$vertical-align: baseline;
//$default-margin: 20px;

// Выделение текста

$selection__background-color: #b3d4fc;

// Плэйсхолдеры

$placeholder__color--default: #777;
$placeholder__color--active: #c6c6c6;

// Сетка

$grid__columns: 12;
$grid__gutter: 30px;

// Типографика

$font__family--default: Arial, Tahoma, sans-serif;
$font__family--monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font__color--base: #000;
$font__size--root: 10px;
$font__size--base: 1.6rem;
$font__size--small: 1.2rem;
$font__line-height: 2rem;

// Ссылки

$link__color--default: #368cda;
$link__color--hover: #2f64b6;
$link__color--active: #da2f0d;
$link__underline--type: border; // default, border, none
$link__underline--opacity-default: .3;
$link__underline--opacity-hover: .5;

// Заголовки

$heading__margin--top: $font__line-height * 2;
$heading__margin--bottom: $font__line-height;
$heading__h1--font-size: 3.4rem;
$heading__h1--line-height: line-height($heading__h1--font-size);
$heading__h2--font-size: 2.2rem;
$heading__h2--line-height: line-height($heading__h2--font-size);
$heading__h3--font-size: 2rem;
$heading__h3--line-height: line-height($heading__h3--font-size);
$heading__h4--font-size: 1.6rem;
$heading__h4--line-height: line-height($heading__h4--font-size);
$heading__h5--font-size: 1.4rem;
$heading__h5--line-height: line-height($heading__h5--font-size);
$heading__h6--font-size: 1.2rem;
$heading__h6--line-height: line-height($heading__h6--font-size);

// Списки

$list__margin--bottom: $font__line-height;
$list__margin--left: $font__line-height * 2;
$definition-list__margin--left: $font__line-height;

// Цитаты

$blockquote__margin--bottom: $font__line-height;
$blockquote__margin--left: $font__line-height * 2;
$blockquote__padding--left: $font__line-height;
