/**
 * Normalization.
 */
:root {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 2rem;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #000;
  vertical-align: baseline;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/**
 * Universal inheritance.
 */
*,
*::before,
*::after {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
}

/**
 * Specify text selection background color and omit drop shadow.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers.
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/**
 * Disable text selection in Android 4.4+, Chrome 40+, Firefox 36+, iOS 8+, Safari 8+
 */
[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
}

/**
 * Set font size for `small` in all browsers.
 */
small {
  font-size: 1.2rem;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 20px 40px;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Set monospace font in all browsers.
 */
code,
kbd,
pre,
samp,
var {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * 1. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 1 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* 1 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Normalize text color in IE 11.
 */
select {
  /*
  -moz-appearance: none;    // Firefox 36+
  -webkit-appearance: none; // Chrome 41+
  &::-ms-expand {
      display: none;        // Internet Explorer 11+
  }
  */
}
select::-ms-value {
  color: currentColor;
}

/**
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Allow only vertical resizing of textareas.
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: top;
}

thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}

/** TODO: need?
 * Prevent some browsers from inserting quotes on q and p
 */
blockquote,
q {
  quotes: none;
}

blockquote p:before, blockquote p:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
 * A better looking default horizontal rule.
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/**
 * Print styles.
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol.
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.grid {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
.grid:before, .grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid:before, .grid:after {
  content: '';
  display: table;
}
.grid:after {
  clear: both;
}
.grid__col-1 {
  float: left;
  width: -webkit-calc(100% * 0.0833333333 - 30px);
  width: calc(100% * 0.0833333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-2 {
  float: left;
  width: -webkit-calc(100% * 0.1666666667 - 30px);
  width: calc(100% * 0.1666666667 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-3 {
  float: left;
  width: -webkit-calc(100% * 0.25 - 30px);
  width: calc(100% * 0.25 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-4 {
  float: left;
  width: -webkit-calc(100% * 0.3333333333 - 30px);
  width: calc(100% * 0.3333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-5 {
  float: left;
  width: -webkit-calc(100% * 0.4166666667 - 30px);
  width: calc(100% * 0.4166666667 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-6 {
  float: left;
  width: -webkit-calc(100% * 0.5 - 30px);
  width: calc(100% * 0.5 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-7 {
  float: left;
  width: -webkit-calc(100% * 0.5833333333 - 30px);
  width: calc(100% * 0.5833333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-8 {
  float: left;
  width: -webkit-calc(100% * 0.6666666667 - 30px);
  width: calc(100% * 0.6666666667 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-9 {
  float: left;
  width: -webkit-calc(100% * 0.75 - 30px);
  width: calc(100% * 0.75 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-10 {
  float: left;
  width: -webkit-calc(100% * 0.8333333333 - 30px);
  width: calc(100% * 0.8333333333 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-11 {
  float: left;
  width: -webkit-calc(100% * 0.9166666667 - 30px);
  width: calc(100% * 0.9166666667 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__col-12 {
  float: left;
  width: -webkit-calc(100% * 1 - 30px);
  width: calc(100% * 1 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
.grid__offset-1 {
  margin-left: -webkit-calc(100% * 0.0833333333 + (30px / 2));
  margin-left: calc(100% * 0.0833333333 + (30px / 2));
}
.grid__offset-2 {
  margin-left: -webkit-calc(100% * 0.1666666667 + (30px / 2));
  margin-left: calc(100% * 0.1666666667 + (30px / 2));
}
.grid__offset-3 {
  margin-left: -webkit-calc(100% * 0.25 + (30px / 2));
  margin-left: calc(100% * 0.25 + (30px / 2));
}
.grid__offset-4 {
  margin-left: -webkit-calc(100% * 0.3333333333 + (30px / 2));
  margin-left: calc(100% * 0.3333333333 + (30px / 2));
}
.grid__offset-5 {
  margin-left: -webkit-calc(100% * 0.4166666667 + (30px / 2));
  margin-left: calc(100% * 0.4166666667 + (30px / 2));
}
.grid__offset-6 {
  margin-left: -webkit-calc(100% * 0.5 + (30px / 2));
  margin-left: calc(100% * 0.5 + (30px / 2));
}
.grid__offset-7 {
  margin-left: -webkit-calc(100% * 0.5833333333 + (30px / 2));
  margin-left: calc(100% * 0.5833333333 + (30px / 2));
}
.grid__offset-8 {
  margin-left: -webkit-calc(100% * 0.6666666667 + (30px / 2));
  margin-left: calc(100% * 0.6666666667 + (30px / 2));
}
.grid__offset-9 {
  margin-left: -webkit-calc(100% * 0.75 + (30px / 2));
  margin-left: calc(100% * 0.75 + (30px / 2));
}
.grid__offset-10 {
  margin-left: -webkit-calc(100% * 0.8333333333 + (30px / 2));
  margin-left: calc(100% * 0.8333333333 + (30px / 2));
}
.grid__offset-11 {
  margin-left: -webkit-calc(100% * 0.9166666667 + (30px / 2));
  margin-left: calc(100% * 0.9166666667 + (30px / 2));
}
.grid__offset-12 {
  margin-left: -webkit-calc(100% * 1 + (30px / 2));
  margin-left: calc(100% * 1 + (30px / 2));
}
@media (max-width: 320px) {
  .grid__col-xs {
    float: left;
    width: -webkit-calc(100% * 1 - 30px);
    width: calc(100% * 1 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 480px) {
  .grid__col-s {
    float: left;
    width: -webkit-calc(100% * 1 - 30px);
    width: calc(100% * 1 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 780px) {
  .grid__col-m {
    float: left;
    width: -webkit-calc(100% * 1 - 30px);
    width: calc(100% * 1 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .grid__col-l {
    float: left;
    width: -webkit-calc(100% * 1 - 30px);
    width: calc(100% * 1 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 1280px) {
  .grid__col-xl {
    float: left;
    width: -webkit-calc(100% * 1 - 30px);
    width: calc(100% * 1 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

h1 {
  font-size: 3.4rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.2rem;
  line-height: 4rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 4rem;
}

h5 {
  font-size: 2.2rem;
  line-height: 4rem;
}

h6 {
  font-size: 2.2rem;
  line-height: 4rem;
}

/* Lists */
ul,
ol {
  margin: 0 0 2rem 4rem;
  padding: 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* Definition list */
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
}

/* Blockquote */
blockquote {
  margin: 0 0 2rem 4rem;
  padding: 0 0 0 2rem;
  border-left: 2px solid #ddd;
}

/* Address */
address {
  font-style: normal;
}

/* Other */
cite {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}

code,
kbd,
samp,
mark {
  padding: 2px 4px;
  border-radius: 3px;
}

code,
kbd {
  background: rgba(0, 0, 0, 0.07);
}

samp {
  border: 1px dotted rgba(0, 0, 0, 0.15);
}

var {
  color: rgba(0, 0, 0, 0.5);
}

mark {
  background: #fff7cc;
}

/* Base form styles */
.form__row {
  margin-bottom: 2rem;
}
.form__row:last-of-type {
  margin-bottom: 0;
}
.form__label {
  display: inline-block;
  cursor: pointer;
}
.form__control {
  display: block;
  width: 100%;
}
.form__control--inline {
  display: inline-block;
}
.form__checkbox {
  margin-right: 4px;
}
.form__radio {
  margin-right: 4px;
}
.form__help {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #aeaeae;
}
.form__control {
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  -webkit-transition: border-color 0.3s ease-out;
          transition: border-color 0.3s ease-out;
}
.form__control:focus {
  border-color: #3496ff;
  -webkit-transition: none;
          transition: none;
}

input.form__control {
  height: -webkit-calc(2rem + 8px * 2);
  height: calc(2rem + 8px * 2);
}

textarea.form__control {
  height: -webkit-calc(2rem * 4 + 8px * 2);
  height: calc(2rem * 4 + 8px * 2);
}

select.form__control {
  height: -webkit-calc(2rem + 8px * 2);
  height: calc(2rem + 8px * 2);
}

/* Pretty checkboxes and radios */
.form__label {
  position: relative;
}
.form__control-indicator {
  display: inline-block;
  background-color: #fff;
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #b8b8b8;
  vertical-align: -0.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__checkbox--pretty, .form__radio--pretty {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.form__checkbox--pretty:checked + .form__control-indicator, .form__radio--pretty:checked + .form__control-indicator {
  background-color: #0074d9;
  border-color: #0074d9;
}
.form__checkbox--pretty:active + .form__control-indicator, .form__radio--pretty:active + .form__control-indicator {
  background-color: #84c6ff;
  border-color: #84c6ff;
}
.form__checkbox--pretty + .form__control-indicator {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 4px;
  border-radius: 3px;
}
.form__checkbox--pretty:checked + .form__control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}
.form__radio--pretty + .form__control-indicator {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 3px;
  border-radius: 50%;
}
.form__radio--pretty:checked + .form__control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table th,
table td {
  border-bottom: 1px solid #eee;
  padding: 12px 16px;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.4);
}
table.table-bordered th,
table.table-bordered td {
  border: 1px solid #eee;
}
table.table-simple th,
table.table-simple td {
  border: none;
  padding-left: 0;
}
table.table-flat th,
table.table-flat td {
  border: none;
  padding: 0;
}
table.table-stroked th,
table.table-stroked td {
  border-bottom: 1px solid #eee;
}
table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
table.table-hovered tbody tr:hover td {
  background-color: #f4f4f4;
}

.wrapper {
  max-width: 1440px;
  min-width: 280px;
  width: auto;
  margin: 0 auto;
}
.wrapper__margin {
  margin-left: 20px;
  margin-right: 20px;
}

.underline {
  border-bottom: 1px solid rgba(54, 140, 218, 0.3);
  -webkit-transition: border-color 0.3s ease-out;
          transition: border-color 0.3s ease-out;
}
.underline--null {
  border-bottom-color: transparent;
}
.underline--null:hover, .underline--null:active {
  border-bottom-color: transparent;
}
.underline--dashed {
  border-bottom-style: dashed;
}
.underline--dotted {
  border-bottom-style: dotted;
}

a {
  border-bottom: 1px solid rgba(54, 140, 218, 0.3);
  -webkit-transition: border-color 0.3s ease-out;
          transition: border-color 0.3s ease-out;
}
a:hover {
  border-bottom-color: rgba(47, 100, 182, 0.5);
  -webkit-transition: none;
          transition: none;
}
a:active {
  border-bottom-color: rgba(218, 47, 13, 0.5);
  -webkit-transition: none;
          transition: none;
}

body {
  background: #fff;
  font-size: 1.6rem;
}

p {
  margin: 0 0 2rem 0;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #368cda;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
          transition: color 0.3s ease, border-color 0.3s ease;
}
a:hover {
  color: #2f64b6;
  text-decoration: none;
  -webkit-transition: none;
          transition: none;
}
a:active {
  color: #da2f0d;
  text-decoration: none;
  -webkit-transition: none;
          transition: none;
}

img {
  display: block;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #777;
  text-overflow: ellipsis;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #777;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #777;
  text-overflow: ellipsis;
}

input::placeholder,
textarea::placeholder {
  color: #777;
  text-overflow: ellipsis;
}
input.placeholder,
textarea.placeholder {
  color: #777;
  text-overflow: ellipsis;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #c6c6c6;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #c6c6c6;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #c6c6c6;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: #c6c6c6;
}
input.placeholder:focus,
textarea.placeholder:focus {
  color: #c6c6c6;
}

.button {
  display: inline-block;
  padding: 8px 10px;
  background: #e0e3e5;
  border: 1px solid #e0e3e5;
  border-radius: 3px;
  box-shadow: 0 0 0 2px transparent;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
          transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.button:hover, .button:focus {
  background: #f8f8f8;
  border-color: #f8f8f8;
  color: #000;
  text-decoration: none;
  -webkit-transition: none;
          transition: none;
}
.button:active {
  background: #e1e1e1;
  border-color: #e1e1e1;
  color: #000;
  text-decoration: none;
  -webkit-transition: none;
          transition: none;
}
.button--block {
  display: block;
  width: 100%;
}

.icon {
  display: inline-block;
  vertical-align: baseline;
  background: transparent no-repeat center;
  background-size: 100% 100%;
}
