.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.hidden {
    @include hidden;
}

.visually-hidden {
    @include visually-hidden;
}

.invisible {
    @include invisible;
}

.clearfix {
    @include clearfix;
}