/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: $heading__margin--top;
    margin-bottom: $heading__margin--bottom;
    font-weight: bold;
}

h1 {
    font-size: $heading__h1--font-size;
    line-height: $heading__h1--line-height;
}

h2 {
    font-size: $heading__h2--font-size;
    line-height: $heading__h2--line-height;
}

h3 {
    font-size: $heading__h3--font-size;
    line-height: $heading__h3--line-height;
}

h4 {
    font-size: $heading__h4--font-size;
    line-height: $heading__h4--line-height;
}

h5 {
    font-size: $heading__h5--font-size;
    line-height: $heading__h5--line-height;
}

h6 {
    font-size: $heading__h6--font-size;
    line-height: $heading__h6--line-height;
}

/* Lists */

ul,
ol {
    margin: 0 0 $list__margin--bottom $list__margin--left;
    padding: 0;
    ul,
    ol {
        margin-bottom: 0;
    }
}

/* Definition list */

dl dt {
    font-weight: bold;
}

dd {
    margin-left: $definition-list__margin--left;
}

/* Blockquote */

blockquote {
    margin: 0 0 $blockquote__margin--bottom $blockquote__margin--left;
    padding: 0 0 0 $blockquote__padding--left;
    border-left: 2px solid #ddd;
}

/* Address */

address {
    font-style: normal;
}

/* Other */

cite {
    color: rgba(0, 0, 0, .4);
    font-style: italic;
}

code,
kbd,
samp,
mark {
    padding: 2px 4px;
    border-radius: 3px;
}

code,
kbd {
    background: rgba(0, 0, 0, .07);
}

samp {
    border: 1px dotted rgba(0, 0, 0, .15);
}

var {
    color: rgba(0, 0, 0, .5);
}

mark {
    background: #fff7cc;
}
