@mixin underline(
    $color: $link__color--default,
    $color-hover: $link__color--hover,
    $color-active: $link__color--active,
    $opacity: $link__underline--opacity-default,
    $opacity-hover: $link__underline--opacity-hover,
    $actions: true
) {
    border-bottom: 1px solid rgba($color, $opacity);
    transition: border-color .3s ease-out;
    @if $actions == true {
        &:hover {
            border-bottom-color: rgba($color-hover, $opacity-hover);
            transition: none;
        }
        &:active {
            border-bottom-color: rgba($color-active, $opacity-hover);
            transition: none;
        }
    }
}

.underline {
    @include underline($actions: false);
    &--null {
        border-bottom-color: transparent;
        &:hover,
        &:active {
            border-bottom-color: transparent;
        }
    }
    &--dashed {
        border-bottom-style: dashed;
    }
    &--dotted {
        border-bottom-style: dotted;
    }
}

a {
    @include underline();
}
